<%= stylesheet_link_tag "translate" %>

<%= link_to "Return Home", capstone_path %> <br>
<%= link_to "Google Translate", capstone_translate_path %>

<%= link_to "Return Home", capstone_path %>

<div id="wrapper">
       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> Web Accessibility </a>
            </div>
				</nav>
		</div>		

	<div id="content-wrapper">

	<div id="sidebar-wrapper" class="col-md-offset-2">

		<div class="collapse navbar-collapse navbar-ex1-collapse fixed">

			<ul class="nav navbar-nav side-nav border down">
			
				<li>
					<%= link_to "Home", capstone_path %>
				</li>

				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path %>
				</li>

				<li>
					<%= link_to "Google Translate", capstone_translate_path %>
				</li>

				<li>
					<%= link_to "ARIA & CSS", capstone_css_path %>
				</li>
	
			</ul>
		</div> <!-- closes sidebar-wrapper -->

		<div class="row col-md-9 aria-css-content aria-css-down">

		<h3 class="translate-title"> Google Translate Demo </h3>
			<hr class="translate-hr col-md-7">
			<br>
			
			<h2> Google Brings in Chief for Self-Driving Cars </h2>

			<h4> Hiring of Detroit veteran John Krafcik indicates keenness to commercialize the technology </h4>

			<!-- insert image here -->

			<span> By Alastair Barr and Mike Ramsey </span>

			<span> Sept. 13, 2015 11:04p.m. ET </span>

			<p> Google Inc. is ready to turn its self-driving car technology into a business and has hired an auto-industry veteran to run it. </p>

			<p> Google said John Krafcik, president of online car-shopping service TrueCar Inc., is joining as CEO of its car project in late September. Chris Urmson, the former head of the project, will lead technical development of the autonomous vehicles and software. </p>

			<p> Mr. Krafcik is a mechanical engineer with a business degree who made his early career with a data-driven approach focusing on lean manufacturing. He was at Ford Motor Co. from 1990 to 2004, where he held various product-development leadership positions, including chief engineer for the Expedition and Navigator SUVs. </p>

			<p> He spent a decade at Hyundai Motor Co., including five years as president and CEO of the U.S. business. He led Hyundai to record sales and boosted the auto maker’s U.S. market share. After the 2008 financial crisis, he oversaw the team that created an “Assurance Program” that let Americans return cars if they lost a job within a year after purchase, helping the company gain sales in a plunging market. His departure after Hyundai didn’t renew his contract in late 2013 came as a shock to the automotive community because of his success. </p>

			<p> Google doesn’t plan to manufacture its own cars and wants to partner with others to develop the technology, she added.

			Google has been trying to transform itself from an Internet search engine into a broader enterprise that applies its computing muscle and know-how to big industries such as transportation and health care. The self-driving car project, which started in 2009, was the first public example of the effort and its slow progress is emblematic of Google’s challenges. </p>

			<p> Google’s self-driving prototypes are being tested on public roads in urban areas of California and more recently Austin, Texas. But there have been few signs so far that Google is close to making the vehicles in enough volume to create a money-making product or service.

			Google veteran Claire Hughes Johnson joined the car project in January 2014 to work on potential business models, but left nine months later in part because the project was still too far from becoming a viable business. In a 2014 speech, she suggested that Google cars would probably be used as an on-demand service, rather than purchased by individuals.</p>

			<span> Write to Alistair Barr at alistair.barr@wsj.com and Mike Ramsey at michael.ramsey@wsj.com </span>