<%= stylesheet_link_tag "translate" %>

<%= link_to "Return Home", capstone_path %> <br>
<%= link_to "Google Translate", capstone_translate_path %>

<%= link_to "Return Home", capstone_path %>

<div id="wrapper">
       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> Web Accessibility </a>
            </div>
				</nav>
		</div>		

	<div id="content-wrapper">

	<div id="sidebar-wrapper" aria-label="navigation" class="col-md-offset-2">

		<div class="collapse navbar-collapse navbar-ex1-collapse fixed">

			<ul class="nav navbar-nav side-nav border down">
			
				<li>
					<%= link_to "Home", capstone_path %>
				</li>

				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path %>
				</li>

				<li>
					<%= link_to "Google Translate", capstone_translate_path %>
				</li>

				<li>
					<%= link_to "ARIA & CSS", capstone_css_path %>
				</li>
	
			</ul>
		</div> <!-- closes sidebar-wrapper -->

		<div class="row col-md-8 col-offset-2 aria-css-content aria-css-down">

		<h1 class="translate-title"> WIA-ARIA & CSS Demo </h1>
			
			<hr class="translate-hr col-md-7"> <br>
			
			<span class="news-title" role="banner"> Google Brings in Chief for Self-Driving Cars </span>
			<br>

			<span class="news-subheader" role="complementary"> Hiring of Detroit veteran John Krafcik indicates keenness to commercialize the technology </span>

			<%= image_tag("road_ready_small.jpg", :title => "Google Self Driving Car") %>
			<br>
			<!-- alt needs to be included here -->
			
			<span class="news-article-authors"> By Alastair Barr and Mike Ramsey </span>

			<span class="news-article-date"> Sept. 13, 2015 11:04p.m. ET </span>	

		<div role="main">

			<p> 
				<%= link_to "Google Inc.", "http://quotes.wsj.com/GOOG", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				is ready to turn its self-driving car technology into a business and has hired an auto-industry veteran to run it. 
			
				<span class="hidden"> 
					<%= link_to "Click here", "http://quotes.wsj.com/GOOG", :target => "_blank" %> to learn more about the company Google's Trading Stocks. 
				</span>
			</p>

			<p> 
				Google said John Krafcik, president of online car-shopping service 
					<%= link_to "TrueCar", "http://quotes.wsj.com/TRUE", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				Inc., is joining as CEO of its car project in late September. Chris Urmson, the former head of the project, will lead technical development of the autonomous vehicles and software. 
			
				<span class="hidden"> 
					<%= link_to "Click here", "http://quotes.wsj.com/TRUE", :class => "aria-reverse-color", :target => "_blank" %> 
					to learn more about the company TrueCar's trading stocks. 
				</span>
			</p>

			<p> 
				Mr. Krafcik is a mechanical engineer with a business degree who made his early career with a data-driven approach 

					<%= link_to "focusing on lean manufacturing", "http://blogs.wsj.com/autoshow/2009/02/11/hyundais-acting-us-chief-krafcik-slams-auto-industry/", :class => "aria-link aria-reverse-color", :target => "_blank" %>.	

				<span class="hidden">
					<%= link_to "Click here", "http://blogs.wsj.com/autoshow/2009/02/11/hyundais-acting-us-chief-krafcik-slams-auto-industry/", :target => "_blank" %> to 

						read Hyundai's U.S. Chief Krafcik critiques of the Auto Industry. 			
				</span>

				He was at 
			
					<%= link_to "Ford Motor Co.", "http://quotes.wsj.com/F", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				from 1990 to 2004, where he held various product-development leadership positions, including chief engineer for the Expedition and Navigator SUVs. 

				<span class="hidden">
					<%= link_to "Click here", "http://quotes.wsj.com/F", :target => "_blank" %> 

					to learn more about the company Ford Motor Co. company stocks. 
				</span>

			</p>

			<p> 

				He spent a decade at 
			
				<%= link_to "Hyundai Motor Co.", "http://quotes.wsj.com/HYMLY", :class => "aria-link aria-reverse-color", :target => "_blank" %>, 

				including five years as president and CEO of the U.S. business. 

				<span class="hidden">
					<%= link_to "Click here", "http://quotes.wsj.com/HYMLY", :target => "_blank"  %> to learn more about the company Hyundai Motor Co. stocks.
				</span>

				He led Hyundai to record sales and boosted the auto maker’s U.S. market share. After the 2008 financial crisis, he oversaw the team that created an “Assurance Program” that let Americans return cars if they lost a job within a year after purchase,

				<%= link_to "helping the company gain sales", "http://blogs.wsj.com/drivers-seat/tag/john-krafcik/", :class => "aria-link aria-reverse-color", :target => "_blank" %>
		  
		  	in a plunging market. 

				<span class="hidden">
					
					<%= link_to "Click here", "http://blogs.wsj.com/drivers-seat/tag/john-krafcik/", :target => "_blank" %> 

					to learn more about how Hyundai expects boosts for U.S. sales.

				</span>

		  	His departure after Hyundai 
			
				<%= link_to "didn't renew his contract in late 2013", "http://www.wsj.com/articles/SB10001424052702304483804579284540742570318", :class => "aria-link aria-reverse-color", :target => "_blank" %>
		  
		  	came as a shock to the automotive community because of his success. 

		  	<span class="hidden">
		  		
		  		<%= link_to "Click here", "http://www.wsj.com/articles/SB10001424052702304483804579284540742570318", :target => "_blank" %> 

		  		to learn more about Dave Zuchowski named U.S. Chief Executiev of Hyundai.

		  	</span>

		  </p>

			<p> Google doesn’t plan to manufacture its own cars and wants to partner with others to develop the technology, she added.

			Google has been trying to transform itself from an Internet search engine into a broader enterprise that applies its computing muscle and know-how to big industries such as transportation and health care. The self-driving car project, which started in 2009, was the first public example of the effort and its slow progress is emblematic of Google’s challenges. </p>

			<p> Google’s self-driving prototypes are being tested on public roads in urban areas of California and more recently Austin, Texas. But there have been few signs so far that Google is close to making the vehicles in enough volume to create a money-making product or service.

			Google veteran Claire Hughes Johnson joined the car project in January 2014 to work on potential business models, but left nine months later in part because the project was still too far from becoming a viable business. In a 2014 speech, she suggested that Google cars would probably be used as an on-demand service, rather than purchased by individuals.</p>
		</div>

		<div role="contact">
			<span> Write to Alistair Barr at <%= link_to "alistair.barr@wsj.com", :class => "aria-email-link" %> and Mike Ramsey at <%= link_to "michael.ramsey@wsj.com", :class => "aria-email-link" %>. </span>
		</div>
