<%= stylesheet_link_tag "translate" %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<%= link_to "Return Home", capstone_path %> <br>
<%= link_to "Google Translate", capstone_translate_path %>

<%= link_to "Return Home", capstone_path %>

<div id="wrapper">
       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"> Web Accessibility </span>
            </div>
				</nav>
		</div>		

	<div id="content-wrapper">

	<div id="sidebar-wrapper" aria-label="navigation" class="col-md-offset-2">

		<div class="collapse navbar-collapse navbar-ex1-collapse fixed">

			<ul class="nav navbar-nav side-nav border down">
			
				<li>
					<%= link_to "Home", capstone_path %>
				</li>

				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path %>
				</li>

				<li>
					<%= link_to "Google Translate", capstone_translate_path %>
				</li>

				<li>
					<%= link_to "ARIA & CSS", capstone_css_path %>
				</li>
	
			</ul>
		</div> <!-- closes sidebar-wrapper -->

	<div id="aria-content" class="col-md-8 col-offset-2">

		<h1 class="translate-title"> <i class="fa fa-bookmark index-bookmark" aria-hidden="true"></i> WAI-ARIA and CSS Demo </h1>

		<hr class="translate-hr col-md-6"> <br><br> 

		<p class="aria-p-intro"> This news article demo incorporates WAI-ARIA and CSS features. <br>Although they largely look to go hidden, they are subtle yet vital <br> additions for users with visual disabilities. </p> 
			
			
			<p class="aria-news-title" role="banner"> Google Brings in Chief for Self-Driving Cars </p>
			<br>

			<p class="news-subheader" role="complementary"> Hiring of Detroit veteran John Krafcik indicates keenness to commercialize the technology </p>

			<%= image_tag("road_ready_small.jpg", :title => "Google Self Driving Car") %>
			<br>
			<!-- alt needs to be included here -->
			
			<span class="news-article-authors"> By Alastair Barr and Mike Ramsey </span>

			<span class="news-article-date"> Sept. 13, 2015 11:04p.m. ET </span>	

		<div role="main" class="article-content">

			<p class="aria-p-one"> 
				<%= link_to "Google Inc.", "http://quotes.wsj.com/GOOG", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				is ready to turn its self-driving car technology into a business and has hired an auto-industry veteran to run it. 
			
				<span class="hidden"> 
					<%= link_to "Click here", "http://quotes.wsj.com/GOOG", :target => "_blank" %> to learn more about the company Google's Trading Stocks. 
				</span>
			</p>

			<p> 
				Google said John Krafcik, president of online car-shopping service 
					<%= link_to "TrueCar", "http://quotes.wsj.com/TRUE", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				Inc., is joining as CEO of its car project in late September. Chris Urmson, the former head of the project, will lead technical development of the autonomous vehicles and software. 
			
				<span class="hidden"> 
					<%= link_to "Click here", "http://quotes.wsj.com/TRUE", :class => "aria-reverse-color", :target => "_blank" %> 
					to learn more about the company TrueCar's trading stocks. 
				</span>
			</p>

			<p> 
				Mr. Krafcik is a mechanical engineer with a business degree who made his early career with a data-driven approach 

					<%= link_to "focusing on lean manufacturing", "http://blogs.wsj.com/autoshow/2009/02/11/hyundais-acting-us-chief-krafcik-slams-auto-industry/", :class => "aria-link aria-reverse-color", :target => "_blank" %>.	

				<span class="hidden">
					<%= link_to "Click here", "http://blogs.wsj.com/autoshow/2009/02/11/hyundais-acting-us-chief-krafcik-slams-auto-industry/", :target => "_blank" %> to 

						read Hyundai's U.S. Chief Krafcik critiques of the Auto Industry. 			
				</span>

				He was at 
			
					<%= link_to "Ford Motor Co.", "http://quotes.wsj.com/F", :class => "aria-link aria-reverse-color", :target => "_blank" %>
			
				from 1990 to 2004, where he held various product-development leadership positions, including chief engineer for the Expedition and Navigator SUVs. 

				<span class="hidden">
					<%= link_to "Click here", "http://quotes.wsj.com/F", :target => "_blank" %> 

					to learn more about the company Ford Motor Co. company stocks. 
				</span>

			</p>

			<p> 

				He spent a decade at 
			
				<%= link_to "Hyundai Motor Co.", "http://quotes.wsj.com/HYMLY", :class => "aria-link aria-reverse-color", :target => "_blank" %>, 

				including five years as president and CEO of the U.S. business. 

				<span class="hidden">
					<%= link_to "Click here", "http://quotes.wsj.com/HYMLY", :target => "_blank"  %> to learn more about the company Hyundai Motor Co. stocks.
				</span>

				He led Hyundai to record sales and boosted the auto maker’s U.S. market share. After the 2008 financial crisis, he oversaw the team that created an “Assurance Program” that let Americans return cars if they lost a job within a year after purchase,

				<%= link_to "helping the company gain sales", "http://blogs.wsj.com/drivers-seat/tag/john-krafcik/", :class => "aria-link aria-reverse-color", :target => "_blank" %>
		  
		  	in a plunging market. 

				<span class="hidden">
					
					<%= link_to "Click here", "http://blogs.wsj.com/drivers-seat/tag/john-krafcik/", :target => "_blank" %> 

					to learn more about how Hyundai expects boosts for U.S. sales.

				</span>

		  	His departure after Hyundai 
			
				<%= link_to "didn't renew his contract in late 2013", "http://www.wsj.com/articles/SB10001424052702304483804579284540742570318", :class => "aria-link aria-reverse-color", :target => "_blank" %>
		  
		  	came as a shock to the automotive community because of his success. 

		  	<span class="hidden">
		  		
		  		<%= link_to "Click here", "http://www.wsj.com/articles/SB10001424052702304483804579284540742570318", :target => "_blank" %> 

		  		to learn more about Dave Zuchowski named U.S. Chief Executiev of Hyundai.

		  	</span>

		  </p>

			<p> Google doesn’t plan to manufacture its own cars and wants to partner with others to develop the technology, she added.

			Google has been trying to transform itself from an Internet search engine into a broader enterprise that applies its computing muscle and know-how to big industries such as transportation and health care. The self-driving car project, which started in 2009, was the first public example of the effort and its slow progress is emblematic of Google’s challenges. </p>

			<p> Google’s self-driving prototypes are being tested on public roads in urban areas of California and more recently Austin, Texas. But there have been few signs so far that Google is close to making the vehicles in enough volume to create a money-making product or service.

			Google veteran Claire Hughes Johnson joined the car project in January 2014 to work on potential business models, but left nine months later in part because the project was still too far from becoming a viable business. In a 2014 speech, she suggested that Google cars would probably be used as an on-demand service, rather than purchased by individuals.</p>
		</div> <!-- closes article content -->

		<div role="contact" class="col-md-9">
			<span> Write to Alistair Barr at <%= link_to "alistair.barr@wsj.com", :class => "aria-email-link" %> and Mike Ramsey at <%= link_to "michael.ramsey@wsj.com", :class => "aria-email-link" %>. </span>
		</div>

		<span class="translate-to-email-tag"> 
  <p class="p-twilio-left col-md-8">

    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>

    Go to <%= link_to "Translate Demo",
    capstone_translate_path, {:class => "twilio-project-link"} %>
  </p>

  <p class="p-translate-right col-md-6 right">

  Go to <%= link_to "Home",
  capstone_path, {:class => "translate-project-link"} %>
    
    <i class="fa fa-long-arrow-right" aria-hidden="true"> </i>
  </p>
</span>
</div>

<div class="further-reading aria-tutorial aria-content col-md-8 col-offset-2">

<span class="aria-further-reading"> Further Reading: </span> <br>

<span class="aria-access-report aria-move-p">
	<strong>
	Applying WAI-ARIA and CSS to improve Web Accessibility
	</strong>
</span>

<p>
	In this tutorial, I’ll be going over how to apply WIA-ARIA standards as well as CSS features to improve the accessibility of your webpage.
</p> 

<p class="aria-move-p"><strong>What is WAI-ARIA, and what is it used for?</strong>
</p>

<p>
	WAI-ARIA stands for the Web Accessibility Initiative - Accessible Rich Internet Applications, being technical standards that increase the accessibility of your web page. 
</p> 

<p>
	WAI-ARIA standards help screen reader users structure web content and navigate through sections of web content. 
</p> 

<p class="aria-move-p">
	<strong>
	What are screen readers?
	</strong>
</p> 

<p>
	Screen readers are software programs that help blind or visually disabled users read the text displayed on the computer screen with an audio voice or a braille display. 
</p>

<p>
	Screen readers are used by people with visual disabilties. Visually impaired users can access web content with the use of screen readers.
</p>

<p>
	Screen reader users experience web pages by hearing the title of the web page, then the following text in the order that it appears in the document. 
</p>

<p>
	For screen readers, web content is text-based, and it doesn't matter if text is on the left, right, or any other position on a page. Artistic or visual design doesn't matter to screen readers, neither adding nor taking away from the experience. Screen readers are meant to read text content.
</p> 

<p>
	Testing your web content with screen readers gives developers the chance to evaluate content from a perspective of a blind user. Screen readers are good evaluators as to how accurate your image alternative text is, as well as identifying any issues involving elements, reading order, etc on a webpage. 
</p>

<p class="aria-move-p">
	<strong>
	Introduction to ARIA Landmark Roles
	</strong>
</p>

<p>
	The ARIA navigation feature I will be covering in this tutorial are ARIA landmark roles. 
</p>

<p>
	ARIA landmark roles help screen readers navigate through sections of page content. In addition, there are many other ARIA features that can be found at the Web Accessibility Initiative. 
</p> 

<p>For example, creating a “click here” link is not considered effective, and isn’t useful for a screen reader user. The most important context of the link should be introduced first, because screen readers will usually direct to the links list by searching via the first letter.</p> 

<p>
	There are 8 ARIA landmarks that you can apply to HTML5 Elements.
</p>

<p> The types are: </p>

	<ul>
	 <li>banner, which is a header tag </li>
	 <li> complementary, which is an aside tag </li>
	 <li> contentinfo, which is a div tag acting as the footer </li>
	 <li> form, which is form or div tag </li>
	 <li> main, which is main </li>
	 <li> navigation, which is a nav tag </li>
	 <li> search, which is form or div tag </li>
	 <li> and application, which is a div tag </li>
  </ul> 


<p class="aria-move-p">
	For the main heading title of your webpage, apply a div role="banner" to structure your title content.
</p>

<p class="aria-move-p">	
	For example, div role="banner" // Banner Here </div>
</p>

<p class="aria-move-p">
	For the navigation bar of your web page, apply a div role="navigation" tag for screen readers to access the navigation bar. 
</p>

<p>
	For the main content of your web page, apply a div role="main" tag in order to set hierarchal importance on your page.
</p>  


<div id="aria-content" class="col-md-8">
<p>
	For the secondary content on your web page, apply a div role="complementary".
</p> 

<p>
	If you have a form on your web page, apply a div role="form". 
</p>

<p>
	For a search form, place a div role="search" around the search bar. 
</p>

<p>
	For the footer of your webpage that usually contains contact or copyright information, place a div role="contentinfo" around it.
</p> 

<p>
	When these tags are added to the structure of your document, screen readers are able to navigate through your web page, as an audio guide through the sections of your web page. 
</p>

<p class="aria-move-p">
	<strong>
	Improving Accessibility with HTML and CSS
	</strong>
</p>

<p>
	This next section covers how to improve general accessibility with the use of HTML and CSS. 
</p> 

<p class="aria-move-p">
	<strong>
	Structure Headings Correctly in HTML files
	</strong>
</p>

<p>
	Screen reader users typically use the heading HTML structure to navigate through content. When headings are set up correctly on a website, screen readers can easily interpret the content of your website. 
</p>

<p>
	For example, use the h1 tag for the main title of your page. Avoid using the h1 tag for anything other than the title of your website and other individual pages. 
</p>

<p>
	If there are words on the page that you want to appear as big or bold, or as a header purely for decoration, make sure to style them appropriately with CSS with classes or ids, rather than the h1 tag. 
</p> 

<p class="aria-move-p">
	<strong>
		Include Alt Text Information for Images
	</strong>
</p>

<p>
	Include the appropriate alt text information for images. When alt text is provided for images, screen readers can understand the message conveyed by the use of the images on the web page. For example, alt text information would be necessary for informative images, like infographics. Also, if the image includes text, that text should be included in the alt. For example:
</p>

<span> < img src="yosemite.gif" alt="Yosemite National Park" > </span>

<p class="aria-move-p">
	However if there is an image used purely for decorative purposes, the alt text can be left empty so that the screen reader can read other important information on the webpage. 
</p>

<p>
	When an image is the only content of a link, the screen readers will read that file name if alt text is not included. When images are included as links, always provide alt text as well.
</p>

<p class="aria-move-p">
	<strong>
		Properly Describe Links On Your Webpage
	</strong>
</p>

<p>
	Use descriptive text information that describes where the link goes to. Give your links descriptive names. 
</p>

<p>
	For example, creating a “click here” link is not considered effective, and isn’t useful for a screen reader user. The most important context of the link should be introduced first, because screen readers will usually direct to the links list via searching the first letter. 
</p>

<span> For example, if you are pointing visitors to a page called “About Us”: </span>

<span> Avoid saying: “Click here to read about our company.” </span>

<span> Instead, say: “To learn more about our company, read About Us.” </span>

<p class="aria-move-p"> 
	<strong>
		Color Contrast Tips 
	</strong>
</p>

<p>
	It’s important to make sure that the look and feel of your website works for all diverse users. There are ways to check if there is sufficient color contrast between your font color and background color.
</p>

<p>
	Use Simulators for design reviews to create empathy and to view your web design from a different perspective. Check the color contrast to make sure that your web design meets the minimum color-contrast ratio of the WCAG 2.0 AA. 
</p>

<p>
	The WCAG 2.0 AA color-contrast ratio is 4.5 to 1 for normal text and 3 to 1 for large text. 
</p>

<p class="aria-move-p"> 
	<strong>
		Two resources you can use: 
	</strong>
</p>

<p> 
	WebAIM Color Contrast Checker, a browser-based resource to test color codes specified in hexadecimal values. 
</p>

<p> 
	The Paciello Group’s Colour Contrast Checker, an application available for Macs or PCs, which tests color codes with RGB values.  
</p>

<p class="aria-move-p">
	<strong> 
		Testing Color Codes for Web Designs 
	</strong>
</p>

<p> 
	To check font colors against color backgrounds, you can use the resource WebAIM Color Contrast Checker to test samples. 
</p>

<p class="aria-move-p"> 
	<strong>
		Improving Font Readability using the Line-Height Property 
	</strong>
</p>

<p>
	Not only do you want your focus to be on making your font look nice, but it’s important to improve readability. You can do this by adjust the line-height. Use a line-height between 1.2 and 1.6 times normal can improve readability, creating space between lines of text. 
</p>

<p class="aria-move-p"> 
	<strong>
		Styling for Links 
	</strong>
</p>

<p>
	When creating links for your website, you can remove the default underline and place a slight underline with CSS. The underline can be a couple pixels away from the text. 
</p>

<p> Some example CSS styling would be: </p>

<span>text-decoration: none</span>
<span>border-bottom: 1px #000 solid</span>
<span>padding-bottom: 2px</span>

<p class="aria-move-p">
	Another option for styling links: when your link is in a hover or focus state, you want to make sure it stands out from the rest of the font on the page. A way to do this is to reverse the colours when on hover or focus. 
</p>
 
<p>
	The :hover class will change the look of a link when you hover over with your mouse. For users that are not using a mouse, use the :focus class. 
</p>

<p>
	So you’ll want your links to change on focus and hover - and apply focus, hover, and active. Example code to reverse the colours would be:
</p>

<code>
a:link { <br>
	background: #fff; <br>
	color: #000; <br>
	font-weight: bold; <br>
	text-decoration: none; <br>
	border-bottom: 1px #000 solid; <br>
	padding-bottom: 2px; <br>
}
</code> <br>
<code>
a:visited { </code> <br>
<code>
	background: #fff; <br>
	color: #800080; <br>
	font-weight: bold; <br>
	text-decoration: none; <br>
	border-bottom: 1px #000 solid; <br>
	padding-bottom: 2px; <br>
}
</code> <br>
<code>
a:focus, a:hover, a:active { </code>
<code>
	background: #000; <br>
	color: #fff; <br>
	font-weight: bold; <br>
	text-decoration: none; <br>
	border-bottom: 1px #000 solid; <br>
	padding-bottom: 2px; <br>
}
</code>

<p>To hide content off the webpage for a screen reader to read, you can create a class to send the info off to the left. An example:</p>

<code>
.hidden { <br>
position: absolute; <br>
clip: rect(1px 1px 1px 1px) *For IE6, IE7 <br>
clip: rect(1px, 1px, 1px, 1px); <br>
}
</code>

<p>
	The clip property is deprecated, but still works with most browsers. The clip-path property is newer, but I found that it’s not currently working as of yet.
</p>  

<p>
	This concludes the summary of WAI-ARIA and CSS tips to improve accessibility for your web page. Adding these features will help to improve the experience for all of your diverse users. 
</p> 

</div>
