<%= javascript_include_tag "application" %>

   <div id="wrapper">

       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Web Accessibility</a>
            </div>
				</nav>
		</div>		

	<div class="collapse navbar-collapse navbar-ex1-collapse col-md-4">
		<ul class="nav navbar-nav side-nav border down relative">
			
			<li>
				<%= link_to "Twilio Demo", capstone_twilio_path %>
			</li>

			<li>
				<%= link_to "Speech-to-Text Email", capstone_email_path %>
			</li>

			<li>
				<%= link_to "Google Translate", capstone_translate_path %>
			</li>

			<li>
				<%= link_to "ARIA & CSS", capstone_css_path %>
			</li>
	
		</ul>
	</div>


<div id="index-container" class="col-md-8 col-md-offset-2">
	<div>
	<h3> Web Accessibility Project </h3>

	<p class="index-intro"> 
		This project is dedicated to web accessibility, and how to incorporate more accessibility features into web development. Well-done accessibility can be done by creating a balance between your project’s content and your user’s needs. I’ve included four web applications, showcasing ways to include these features into your own web applications. 
	</p>

	<p> This application combines both Google Speech-to-Text and Twilio APIs. This application turns audio speech and sends it as a text message to a mobile phone. <span> Learn more about the Speech to Mobile Text </span>
		<%= link_to "Twilio Demo", capstone_twilio_path, {:class => "index-project-link reverse"} %> <br>
	</p>

	<p> This application combines the power of Google Speech-to-Text API with the functionality of email. Instead of typing your message, you can speak to your computer microphone with the body message. <span> Learn more about the</span>
		<%= link_to "Speech to Email Demo with Google API", capstone_email_path, {:class => "index-project-link reverse"} %> <br>
	</p>

	<p> This application shows the simplicity of adding a Google Translate plug-in to make websites multilingual friendly, and to intice non-English speakers. <span> Learn more about the </span>
		<%= link_to "Mutlilingual Site", capstone_translate_path, {:class => "index-project-link reverse"} %> <br>
	</p>

	<p> This application shows some common WIA-ARIA and CSS Accessibility features you can add to your website. <span> Learn more about the </span>
		<%= link_to "ARIA and CSS for Accessible Web Design", capstone_css_path, {:class => "index-project-link reverse"} %>
	</p>

	<div class="flag"> </div>

	</div>
</div>	