<%= javascript_include_tag "application" %> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

   <div id="wrapper">

       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Web Accessibility</span>
            </div>
				</nav>
		</div>		


<div id="content-wrapper">
	
	<div id="sidebar-wrapper" class="col-md-offset-2">
	
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			
			<ul class="nav navbar-nav side-nav border down relative">
			
				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path, :class => "index-access-hover" %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path, :class => "index-access-hover" %>
				</li>

			<li>
				<%= link_to "Google Translate", capstone_translate_path, :class => "index-access-hover" %>
			</li>

			<li>
				<%= link_to "WAI-ARIA & CSS", capstone_css_path, :class => "index-access-hover" %>
			</li>
	
		</ul>
	</div> <!-- closes sidebar-wrapper -->

<div id="index-content" class="col-md-8 col-offset-2 index-content-down">

	<h1>
		<i class="fa fa-bookmark index-bookmark" aria-hidden="true"> </i>
	 Web Accessibility </h1>
	<hr class="color-tag">

	<p class="index-intro" style="padding-bottom:15px"> 
		This project is dedicated to web accessibility, and how to incorporate more accessibility features into web applications. Well-done web accessibility can be done by creating a balance between web content and your user needs. I’ve included four web applications, showcasing ways to include these features into your own web applications. 
	</p>

	<h4> Google Speech and Twilio App </h4>
	<p style="padding-bottom:15px"> This application combines both Google Speech-to-Text and Twilio APIs. This application takes in audio speech and sends it as a text message to a mobile phone device. <span> Learn more about the Speech to Mobile Text </span>
		<%= link_to "Twilio Demo", capstone_twilio_path, {:class => "index-project-link"} %>. <br>
	</p>

	<h4> Google Speech to Email App </h4>
	<p style="padding-bottom:15px"> This application combines the power of Google Speech-to-Text API with the functionality of composing an email. Instead of typing, you can speak into a computer microphone, and it will do the typing for you. <span> Learn more about the</span>
		<%= link_to "Speech to Email Demo with Google API", capstone_email_path, {:class => "index-project-link"} %>. <br>
	</p>

	<h4> Google Translate for Web Translation </h4>
	<p style="padding-bottom:15px"> This application shows the simplicity of adding a Google Translation plug-in, make your website multilingual friendly and to attract users who speak limited English or non-English speaking. <span> Learn more about creating a </span>
		<%= link_to "Multilingual Site", capstone_translate_path, {:class => "index-project-link"} %>. <br>
	</p>

  <h4> WAI-ARIA and CSS </h4>
	<p style="padding-bottom:15px"> This application shows some WAI-ARIA standards you can apply to your HTML, as well as CSS features you can incorporate into your website to improve accessibility. <span> Learn more about WAI-ARIA & CSS for</span>
		<%= link_to "Accessible Web Design & Content", capstone_css_path, {:class => "index-project-link"} %>.
	</p>

<span tag="index-to-twilio-tag">

	<p class="p-index-right right"> Go to the <%= link_to "Twilio Demo", capstone_twilio_path, {:class => "index-project-link"} %> 
	<!-- </p> -->

	<i class="fa fa-long-arrow-right" aria-hidden="true"> </i>
	</p>

</span>


<div class="further-reading">

<span class="index-further-reading">
	Further Reading
</span> <br>

<span class="index-access-report">
	<strong>
 Intro to Web Accessibility 
	</strong>
 </span>	<br>

<p>
	When we tend to think of the word diversity,the word is applied to a wide range of people, varying in color, religion, or creed. However, a part of our diverse population that tends to be forgotten about are people with disabilities. 
</p> 

<p>
	In popular tech culture, the word diversity is a topic surrounding white women and people of color (in much fewer amounts). However, people with disabilities are also a component of diversity. 
</p> 

<p>
	In a study of 100 websites, the United Nations commissioned an audit to find out how many websites were accessible for people with disabilities. The results of this study found only 3 of 100 websites met international standards for accessibility. This can only lead us to this conclusion: people with disabilities are largely unable to access the internet.
</p> 

<p>
	We are living in the times of a social media fixation - ranging from popular websites such as Ted Talks, YouTube, Netflix, and more. Most of the these podcasts and videos on popular social media websites are produced without captions or transcripts. 
</p>

<p>
	We can create a more tolerant and inclusive internet culture by striving to create and modify existing websites to become more accessible for people with disabilities.
</p> 

<p>
	This starts by having software development teams learn how to make accessible websites. Most of disabled users have challenges when using keyboards, mouses, and speakers - as an alternative using screen readers are commonly used to experience and interact with websites. 
</p> 

<p>
	One major way to incorporate web accessibility into websites is to learn WAI-ARIA, which stands for “Web Accessibility Initiative - Accessible Rich Internet Applications.” A great resource to learn more about these standards, can be found here. 
</p> 

<p>
	Another ever-growing discussion of web accessibility that needs to be featured more: making a commitment to providing multilingual websites, therefore attracting more users and the larger audience. Globalization is and will continue to have a larger vast of influence on internet users.
</p> 

<p>
	To create more business and foot traffic to your website, make the first effort by offering diverse languages for diverse users. 
</p> 

<p>
	The U.S. technology industry is not as inclusive as it should be of diverse language speakers. In order to stay progressive, more of our websites need to scale to meet a larger and diverse global audience.
</p> 

<p>
	People with disabilities tend to be kept hidden in our society and popular culture. Our larger global audience of speakers tend to be forgotten about as well. As we strive to improve diversity in internet culture - we must be sure to include everyone, including people with disabilities. 
</p> 

</div>


	</div>
</div> <!-- closing index-content -->
</div> <!-- closing sidebar wrapper -->
</div> <!-- closing div content-wrapper -->




