<%= javascript_include_tag "application" %> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

   <div id="wrapper">

       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Web Accessibility</a>
            </div>
				</nav>
		</div>		


<div id="content-wrapper">
	
	<div id="sidebar-wrapper" class="col-md-offset-2">
	
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			
			<ul class="nav navbar-nav side-nav border down relative">
			
				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path, :class => "index-access-hover" %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path, :class => "index-access-hover" %>
				</li>

			<li>
				<%= link_to "Google Translate", capstone_translate_path, :class => "index-access-hover" %>
			</li>

			<li>
				<%= link_to "ARIA & CSS", capstone_css_path, :class => "index-access-hover" %>
			</li>
	
		</ul>
	</div> <!-- closes sidebar-wrapper -->

<div id="index-content" class="col-md-8 col-offset-2 index-content-down">

	<h3>
		<i class="fa fa-bookmark index-bookmark" aria-hidden="true"> </i>
	 Web Accessibility </h3>
	<hr class="color-tag">

	<p class="index-intro" style="padding-bottom:15px"> 
		This project is dedicated to web accessibility, and how to incorporate more accessibility features into web development. Well-done accessibility can be done by creating a balance between your project’s content and your user’s needs. I’ve included four web applications, showcasing ways to include these features into your own web applications. 
	</p>

	<h4> Google Speech and Twilio App </h4>
	<p style="padding-bottom:15px"> This application combines both Google Speech-to-Text and Twilio APIs. This application turns audio speech and sends it as a text message to a mobile phone. <span> Learn more about the Speech to Mobile Text </span>
		<%= link_to "Twilio Demo", capstone_twilio_path, {:class => "index-project-link"} %>. <br>
	</p>

	<h4> Google Speech to Email App </h4>
	<p style="padding-bottom:15px"> This application combines the power of Google Speech-to-Text API with the functionality of email. Instead of typing your message, you can speak to your computer microphone with the body message. <span> Learn more about the</span>
		<%= link_to "Speech to Email Demo with Google API", capstone_email_path, {:class => "index-project-link"} %>. <br>
	</p>

	<h4> Google Translate for Web Translation </h4>
	<p style="padding-bottom:15px"> This application shows the simplicity of adding a Google Translate plug-in to make websites multilingual friendly, and to intice non-English speakers. <span> Learn more about creating a </span>
		<%= link_to "Multilingual Site", capstone_translate_path, {:class => "index-project-link"} %>. <br>
	</p>

  <h4> WIA-ARIA and CSS </h4>
	<p style="padding-bottom:15px"> This application shows some common WIA-ARIA and CSS Accessibility features you can add to your website. <span> Learn more about </span>
		<%= link_to "ARIA and CSS for Accessible Web Design", capstone_css_path, {:class => "index-project-link"} %>.
	</p>

<span tag="index-to-twilio-tag">

	<p class="p-index-right right"> Go to the <%= link_to "Twilio Demo", capstone_twilio_path, {:class => "index-project-link"} %> 
	<!-- </p> -->

	<i class="fa fa-long-arrow-right" aria-hidden="true"> </i>
	</p>

</span>


<div class="further-reading col-md-12">

<span><strong> Intro to Web Accessibility </strong></span>	

<p>Diversity can apply to a range of people, of various colors, religions, creeds, and also (although we forget often) about people with disabilities.</p> 

<p>Unfortunately, too often people with disabilities are unable to access the internet. In a study of 100 websites, the United Nations found 3 websites meeting the international standard for accessibility.</p> 

<p>We are living in the heart of popular social media, varying from Ted Talks, YouTube, and Netflix. Most of the these videos come without captions or transcripts.</p> 

<p>We can create a more tolerant and inclusive culture with a step towards making our websites and workplaces more accessible for people with disabilities.</p>

<p>This starts with our development teams learning how to make web accessible sites. Most of our disabled users have challenges when faced with using keyboards, mouses, and speakers - using screen readers to experience website applications.</p> 

<p>One step to incorporate web accessibility is to learn WAI-ARIA, which stands for “Web Accessibility Initiative - Accessible Rich Internet Applications.” A great resource to learn more about these standards can be found through the Accessibility Project, which I’ve provided the link to here.</p> 

<p>Another trend we are seeing become more and more apparent is globalization, which starts with tech companies, whether large or small. Commitment to providing multiple languages for your website attracts more readers to your product. The U.S. tech culture tends to not be inclusive in terms of reaching out to the larger global audience, which is behind in the current times.</p> 

<p>To create more business and foot traffic to your website, make the first effort by offering diverse languages for diverse users.</p> 

<p>The world’s disabled population accounts for about 15%. While improving the universal design of your website, this will improve the experience for both people with and without disabilities.</p> 

<p>A larger, trend that can be affecting our accessibility is also the telling fact that we aren’t hiring people with disabilities.</p> 

<p>In popular culture, “diversity” is a topic surrounding white women, and people of color in far fewer amounts. We need to strive to remember that disability is a component of diversity.</p> 

<p>According to a study held by the UN Convention on the Rights of Persons with Disabilities, a 2004 United States survey reported that only 35 percent of working-age people with disabilities are hired and employed, compared to 78 percent of people without disabilities.</p> 

<p>People with disabilities tend to be kept hidden in our society and popular culture. As we strive to improve diversity in the technology industry, we must be sure to include everyone, including people with disabilities.</p> 

</div>


	</div>
</div> <!-- closing index-content -->

</div> <!-- closing sidebar wrapper -->
</div> <!-- closing div content-wrapper -->




