<%= stylesheet_link_tag "translate" %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<%= link_to "Return Home", capstone_path %> <br>
<%= link_to "CSS Demo", capstone_css_path %>

<div id="wrapper">
       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"> Web Accessibility </span>
            </div>
				</nav>
		</div>		

	<div id="content-wrapper">

	<div id="sidebar-wrapper" class="col-md-offset-2">

		<div class="collapse navbar-collapse navbar-ex1-collapse fixed">

			<ul class="nav navbar-nav side-nav border down">
			
				<li>
					<%= link_to "Home", capstone_path %>
				</li>

				<li>
					<%= link_to "Twilio Demo", capstone_twilio_path %>
				</li>

				<li>
					<%= link_to "Speech-to-Text Email", capstone_email_path %>
				</li>

				<li>
					<%= link_to "Google Translate", capstone_translate_path %>
				</li>

				<li>
					<%= link_to "ARIA & CSS", capstone_css_path %>
				</li>
	
			</ul>
		</div> <!-- closes sidebar-wrapper -->

	<div class="col-md-12 translate-content-down">
		<div id="translation-content">

					<div id="google_translate_element"></div>
					<script type="text/javascript">
						function googleTranslateElementInit() {
  					new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
						}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<h1 class="translate-title"> 
			<i class="fa fa-bookmark index-bookmark" aria-hidden="true"> </i>
				Google Translate Demo </h1>
			
			<hr class="translate-hr col-md-7">

			<%= image_tag("food-vegetables-meal-kitchen.jpg", :class => "veggie-img") %>

		<!-- <div> -->
			<p class="demo-description col-md-10"> This demo was created to showcase how to change your site's language. This demo shows how to change the main language english to a choice of spanish or chinese. This site will have all the same design and functionality.

<span class="translate-to-email-tag"> 
  <p class="p-twilio-left col-md-8">

    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>

    Go to <%= link_to "Email Demo",
    capstone_twilio_path, {:class => "index-project-link"} %>
  </p>

 <!--  <p class="p-translate-right col-md-8 right"> -->

	<span class="slight-right">
  Go to <%= link_to "ARIA & CSS Demo",
  capstone_css_path, {:class => "index-project-link"} %>
    
    <i class="fa fa-long-arrow-right" aria-hidden="true"> </i>
  <!-- </p> -->
</span>
</p>

</p>

</div> <!-- closes row		 -->
</div> <!-- closes the columns -->

<div class="further-reading google-translate-tutorial col-md-8">

<span class="index-further-reading"> 
		Further Reading: 
</span> <br>

<span class="translation-report"> How to Incorporate the Google Translate Plug-in Into Your Website </span>

<p class="aria-move-p">
	The internet has become the prime communication hub for businesses and individuals looking for goods, services, or information. For companies looking to increase sales and to gain a competitive advantage, one of the best ways to achieve this is by creating a multilingual website. 
</p> 

<p class="aria-move-p">
	The internet originally began as an English speaking convention, and in the beginning it was dominated by English speakers and users. Having a multilingual site is one of the best ways to market your company, bringing in a new audience of users and creating new relationships.
</p> 

<p class="aria-move-p">
	Let’s say you have a website already completed, but want to add in different language selections to your site.
</p> 

<span class="aria-move-p"> 
	<strong>
		How to add the Google Translate Widget to your website: 
	</strong>
</span> <br>

<span class="aria-move-p"> 1. Visit the Google Translation Manager, sign into your Google Account (If you don’t have an account already, you can sign up for a free Google account). </span> <br>

<span class="aria-move-p"> 2. Click the ‘Add to your website now’ on the right­hand side. </span> <br>

<span class="aria-move-p"> 3. Follow the instructions on the next few pages to customize your language translator, so that you can add the languages of your choice to your website. </span> <br> 

<span class="aria-move-p"> 4. Add the Google widget code to the webpage where you’d like your translator to be. Paste and add the widget/html element. </span> <br>

<span class="aria-move-p"> Since you're most likely using a few different languages, make sure to give enough space for various word interpretations in terms of web design and layout. </span> 
	
</div>

