<%= stylesheet_link_tag "translate" %>

<%= link_to "Return Home", capstone_path %> <br>
<%= link_to "CSS Demo", capstone_css_path %>

<div id="wrapper">
       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> Web Accessibility </a>
            </div>
				</nav>
		</div>		

	<div class="col-md-3 col-md-offset-2 collapse navbar-collapse navbar-ex1-collapse fixed">
	
		<ul class="nav navbar-nav side-nav border down fixed">
			
			<li>
				<%= link_to "Twilio Demo", capstone_twilio_path %>
			</li>

			<li>
				<%= link_to "Speech-to-Text Email", capstone_email_path %>
			</li>

			<li>
				<%= link_to "Google Translate", capstone_translate_path %>
			</li>

			<li>
				<%= link_to "ARIA & CSS", capstone_css_path %>
			</li>
	
		</ul>
	</div>
	
	<div id="translation-page-container" class="col-md-8 col-md-offset-2">

					<div id="google_translate_element"></div>
					<script type="text/javascript">
						function googleTranslateElementInit() {
  					new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
						}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

			<%= image_tag("food-vegetables-meal-kitchen.jpg", :class => "veggie-img") %>

		<div>
			<p class="demo-description"> This demo was created to showcase how to change your site's language. This demo shows how to change the main language english - to a choice of spanish, or chinese. This site will have all the same design and functionality.</p>

			<div class="social_media">
				<ul>
					<li class="facebook">
						<%= image_tag("facebook.png") %>
					</li>
				
					<li class="twitter">
						<%= image_tag("twitter.png") %>
					</li>
				
					<li class="youtube">
						<%= image_tag("youtube.png") %>
					</li>
				
					<li class="instagram">
						<%= image_tag("instagram.png") %>
					</li>

					<li class="yelp">
						<%= image_tag("yelp.png") %>
					</li>
				</ul>

			</div>		

				<ul class="contact-info">
					<li class="phone"> 855-555-1234 / info@bilingualdemo.com</li>

					<li class="dots">
						****************************************************
					</li>

					<li class="blog"> Food Blog </li>

					<li class="blog-header"> Blog Post Header </li>

					<li> 
						<%= image_tag("kitchen-cooking-interior-decor.jpg", :class => "utensils-img") %>
					</li>

				</ul>

		</div> 

		<div>
			
			<div class="section-one">

				<%= image_tag("bread-food-plate-toast.jpg", :class => "food-img-one") %>
				<!-- <span class="example-text-one"> Example Header </span> -->
				<div class="wrapper-div">
					<span> Food Recipes </span>
				</div>

				<p class="example-text-two"> /   Example Text Here </p>
			</div>
		
			<div class="section-two">

				<%= image_tag("food-healthy-soup-leek.jpg", :class => "food-img-two") %>

					<div class="wrapper-div">
						<span> On the Calendar </span>
					</div>
					<p class="example-text-one"> /   Example Text Here </p> 
		</div>

	</div>

	<div id="wrap">
		<div id="main" class="container clear-top">
			
			<span> Who </span>
			<span> What </span>
			<span> Where </span>

		</div>
	</div>

</div> 

</div> <!-- this closes the columns -->
<!-- closes the columns -->
	<footer class="footer"></footer>
