<%= stylesheet_link_tag "translate" %>

<!-- 	<div id="container">
		<div class="restaurant-img-One"> -->
			<nav class="navbar navbar-inverse">
				<ul>

				<!-- 	<li><a href="chinese.html"> Chinese Version </a></li>
					<li><a href="spanish.html"> Espanol Version </a></li> -->

					<li> Home </li>
					<li> About </li>
					<li> Gallery </li>
					<li> Resources </li>
					<li> Contact </li>

					<li>
	
					<div id="google_translate_element"></div><script type="text/javascript">
							function googleTranslateElementInit() {
  						new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
							}
							</script>
							<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
					</li>		
				
				</ul>
			</nav>
		</div>

			<%= image_tag("food-vegetables-meal-kitchen.jpg", :class => "veggie-img") %>

		<div class="col-md-4">
			<p class="demo-description"> This demo was created to showcase how to change your site's language. This demo shows how to change the main language english - to a choice of spanish, or chinese. This site will have all the same design and functionality.</p>

			<div class="social_media">
				<ul>
					<li class="facebook">
						<%= image_tag("facebook.png") %>
					</li>
				
					<li class="twitter">
						<%= image_tag("twitter.png") %>
					</li>
				
					<li class="youtube">
						<%= image_tag("youtube.png") %>
					</li>
				
					<li class="instagram">
						<%= image_tag("instagram.png") %>
					</li>

					<li class="yelp">
						<%= image_tag("yelp.png") %>
					</li>
				</ul>

			</div>		

				<ul class="contact-info">
					<li> 855-555-1234 / info@bilingualdemo.com</li>

					<li class="dots">
						****************************************************
					</li>

					<li> Food Blog </li>

					<li> Blog Post Header </li>

					<li> 
						<%= image_tag("kitchen-cooking-interior-decor.jpg", :class => "utensils-img") %>
					</li>

				</ul>

		</div> <!-- closes the col-md-4 -->

		<div class="col-md-8">
			
			<div class="section-one">
	<!-- 			<div class="food-img-one"></div> -->
				<%= image_tag("bread-food-plate-toast.jpg", :class => "food-img-one") %>
				<!-- <span class="example-text-one"> Example Header </span> -->
				<p class="example-text-two"> /   Example Text Here </p>
			</div>
		
			<div class="section-two">
<!-- 				<div class="food-img-two"></div> -->
				<%= image_tag("food-healthy-soup-leek.jpg", :class => "food-img-two") %>
					<p class="example-text-one"> /   Example Text Here </p> 
		</div>

	</div>
