<%= javascript_include_tag "application" %>

  <div id="wrapper">

       
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
				</nav>
		</div>		

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav border down fixed">
			
			<li>
				<%= link_to "Twilio Demo", capstone_twilio_path %>
			</li>

			<li>
				<%= link_to "Speech-to-Text Email", capstone_email_path %>
			</li>

			<li>
				<%= link_to "Google Translate", capstone_translate_path %>
			</li>

			<li>
				<%= link_to "ARIA & CSS", capstone_css_path %>
			</li>
	
		</ul>
	</div>


<div id="content col-md-3">

	<h3 class="twilio-title">Web Speech Twilio Demonstration</h3>
	<div id="status"></div>
		<p></p>

	<form action="http://localhost:3000/capstone/twilio" method="get">
  	<input name="q" id="input_field" size="100">
	</form>
	
	<button onclick="reco.toggleStartStop()" style="border: 0; background-color:transparent">
		<%= image_tag "mic.gif" %>
	</button>

</div>

<span> Check out the <%= link_to "Email Demo", capstone_email_path, {:class => "twilio-to-email-link"} %> </span>

<!-- @text-information was here as a test to see if data was being grabbed -->

<!-- <script src="webspeech.js"></script> -->
<script>
var reco = new WebSpeechRecognition();
reco.statusText('status');
reco.statusImage('status_img');
reco.finalResults('input_field');

reco.onEnd = function() {
  if (reco.final_transcript != '') {
    input_field.form.submit();
  }
};
</script>
