<%= javascript_include_tag "application" %>

<nav class="navbar navbar-default navbar-fixed-top color">
  <div class="container">
    <li class="descrip home"> Web Accessibility </li>
    <li class="descrip"> 
    	<%= link_to "Return Home", capstone_path %> <br>
    </li>
    
    <li class="descrip"> 
			<%= link_to "Google API",
				capstone_email_path %> 
		</li>
    
    <li class="descrip"> 
			<%= link_to "Translation",
				capstone_translate_path %>
    </li>
    
    <li class="descrip"> 
			<%= link_to "CSS",
				capstone_css_path %>
    </li>
  

  </div>
</nav>

<div id="content">

	<h3 class="twilio-title">Web Speech Twilio Demonstration</h3>
	<div id="status"></div>
		<p></p>

	<form action="http://localhost:3000/capstone/twilio" method="get">
  	<input name="q" id="input_field" size="100">
	</form>
	
	<button onclick="reco.toggleStartStop()" style="border: 0; background-color:transparent">
		<%= image_tag "mic.gif" %>
	</button>

</div>

<span> Check out the <%= link_to "Email Demo", capstone_email_path, {:class => "twilio-to-email-link"} %> </span>

<!-- @text-information was here as a test to see if data was being grabbed -->

<!-- <script src="webspeech.js"></script> -->
<script>
var reco = new WebSpeechRecognition();
reco.statusText('status');
reco.statusImage('status_img');
reco.finalResults('input_field');

reco.onEnd = function() {
  if (reco.final_transcript != '') {
    input_field.form.submit();
  }
};
</script>
